*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hmtl{
  scroll-behavior: smooth;
}
body{
  display: flex;
align-items: center;
justify-content: center;
background-color: aquamarine;
}

.App{
  color: red;
  height: 100vh;
  width: 90vw;
  background-color: antiquewhite;
}